@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic);

/* MeyerWeb Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


/* Base text styles */

body {
  padding:10px 50px 0 0;
  /*font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family: 'Roboto',Helvetica, Arial, sans-serif;*/
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #232323;
  background-color: #FBFAF7;
  margin: 0;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;

  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
}

.scrollable_content {
  overflow-y: hidden;
  max-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color:#232323;
  margin:36px 0 10px;
}

p, ul, ol, table, dl {
  margin:0 0 22px;
}

h1, h2, h3 {
  /*font-family: 'Arvo', Monaco, serif;*/
  /*font-family: 'museo_sans500',Helvetica, Monaco, serif;*/
  /*font-family: 'Roboto',Helvetica, Monaco, serif;*/
  font-family: 'Raleway', sans-serif;
  line-height:1.3;
  font-weight: normal;
}

h1,h2, h3 {
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;  
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 18px;
}

h4, h5, h6 {
  /*font-family: 'Arvo', Monaco, serif;*/
  font-family: 'veneer', sans-serif;
  font-weight: 700;
}

a {
  /*color:#C30000;*/
  /*color: #47a8d8;*/
  color: #3b5998;
  font-weight:600;
  text-decoration:none;
}

a.light {
  font-size: 14px;
  color: #6E8FD4;
}

a:hover {
  text-decoration: underline;
}

a small {
  font-size: 12px;
}

em {
  font-style: italic;
}

strong {
  font-weight:700;
}

ul li {
  list-style-position: inside;
  list-style: disc;
  /*padding-left: 25px;*/
}

ol li {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

blockquote {
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

dl, dt, dd, dl p {
  font-color: #444;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  border:0;
  background:#ccc;
  height:1px;
  margin:0 0 24px;
}

/* Images */

/*
img {
  position: relative;
  margin: 0 auto;
  max-width: 650px;
  padding: 5px;
  margin: 10px 0 32px 0;
  border: 1px solid #ccc;
}
*/


/* Code blocks */

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size:14px;
}

pre {
  padding: 4px 12px;
  background: #FDFEFB;  
  border-radius:4px;
  border:1px solid #D7D8C8;
  overflow: auto;
  overflow-y: hidden;
  margin-bottom: 32px;
}


/* Tables */

table {
  width:100%;
}

table {
  border: 1px solid #ccc;
  margin-bottom: 32px;
  text-align: left;
 }

th {
  font-family: 'Arvo', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  padding: 10px;
  background: #232323;
  color: #FDFEFB;
 }

td {
  padding: 10px;
  background: #ccc;
 }



/* Wrapper */
.wrapper {
  /*width:960px;*/
  width: 1280px;
}


/* Header */

header {
  background-color: #282828;
  color: #FDFDFB;
  /*width:170px;*/
  /*height: 410px;*/
  float:left;
  position:fixed;
  border: 1px solid #000;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 34px 25px 22px 50px;
  
  width: 150px;
  height: 390px;
  padding-left: 30px;

  margin: 30px 25px 0 0;
  -webkit-font-smoothing: antialiased;
}

.row_spacer_1 {
  width: 100%;
  /*height: 30px;*/
  height: 15px;
}

.row_spacer_2 {
  width:100%;
  height: 50px;
}

.row_spacer_3 {
  width:100%;
  height: 100px;
}

italic {
  font-style: italic;
}

p.header {
  font-size: 6px;
}

h1.header {
  /*font-family: 'Arvo', sans-serif;*/
  /*font-family: 'veneer', sans-serif;*/
  /*font-family: 'Roboto';*/
  /*font-family: 'Lato';*/
  font-family: 'Raleway', sans-serif;
  /*width: 83%;*/
  width:93%;
  /*font-size: 23.5px;*/
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3em;
  /*border-bottom: none;*/
  margin-top: 5px;
  border-bottom: 1px solid #808080;
}

h1.header, a.header, a.name, header a{
  color: #fff;
}

a.header {
  text-decoration: underline;
}

a.name {
  white-space: nowrap;
}

header a:hover {
  text-decoration: none;
}

header ul {
  list-style:none;
  padding:0;
}

header li.item{
  transition: background-color 100ms linear;
  list-style-type: none;
  /*width:132px;*/
  /*width: 80%;*/
  width:93%;
  height:40px;
  margin-left:0;
  margin-right:0;
  margin-bottom: 12px;
  /*line-height: 1em;*/
  line-height: 40px;
  font-size: 16px;
  /*font-family: 'Droid Sans';*/
  /*font-family: 'Lato';*/
  font-family: 'Raleway', sans-serif;
  /*font-family: 'roboto';*/
  /*padding: 6px 6px 6px 7px;*/

  /*background: #AF0011;*/
  /*background: #d83c3c;*/
  /*
  background: -moz-linear-gradient(top, #AF0011 0%, #820011 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: -o-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: -ms-linear-gradient(top, #AF0011 0%,#820011 100%);
  background: linear-gradient(top, #AF0011 0%,#820011 100%);*/
  
  border-radius:4px;
  border:1px solid transparent;

  /*-webkit-box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
  box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);*/
  
}

header li.item:hover {
  /*background: #ff3c3c;*/
  background: #373737;
  transition: background-color 100ms linear;
  /*
  background: -moz-linear-gradient(top, #C3001D 0%, #950119 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: -o-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: -ms-linear-gradient(top, #C3001D 0%,#950119 100%);
  background: linear-gradient(top, #C3001D 0%,#950119 100%);
  */
}

header li.btn {
  list-style-type: none;
  margin-bottom: 12px;
  width:145px;
}

header li a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
  /*line-height: 30px;*/
}

header li a:hover {
  text-decoration: none;
}

header li blank {
  visibility: hidden;
}

header p {
  padding-left: 10px;
}

a.buttons {
  -webkit-font-smoothing: antialiased;
  background: url(../images/arrow-down.svg) no-repeat 2px 1px;
  background: url(../images/arrow-down.png) no-repeat 2px 1px\9;
  background-size: 12px auto;
  font-weight: normal;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  padding: 2px 2px 2px 22px;
  height: 30px;
}

a.github {
  background: url(../images/octocat.svg) no-repeat 1px;
  background: url(../images/octocat-small.png) no-repeat 1px\9;
  background-size: 14px auto;
}

a.buttons:hover {
  color: #fff;
  text-decoration: none;
}


/* Section - for main page content */

section {
  /*width:650px;*/
  width: 980px;
  display: block;
  float:right;
  padding-bottom:50px;
  margin-top: 25px;

  /*width: 850px;*/
  width: 850px;
  padding-right:50px;
  margin-right: 100px;
  /*font-family: 'Lato';*/
  font-family: 'Raleway', sans-serif;
  /*font-family: 'museo_sans500';*/
}

.section_title {
  /*color: #47a8d8;*/
  /*color: #3b5998;*/
  color: #232323;
  font-weight: 700;
}

section p {
  font-size: 18px;
}

section li {
  font-size: 18px;
}

section a {
  font-size: 18px;
  cursor: pointer;
}

strong {
  font-weight: 600;
}

/*About*/

ul.about li {
  list-style-type: none;
}

.circle {
  display: block;
  width: 300px;
  height: 300px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

/*Publications*/

.publication_description li{
  font-size: 18px;
  /*color: #474747;*/
  line-height: 25px;
  display: table-row;
  text-align: justify;
}

.publication_description li:before{
  content:"\00BB \0020";
  display: table-cell;
  padding-right: 5px;
}

.publication_description name{
  /*color: #A06D20;*/
  /*color: #089108;*/
  font-weight:600;
}

.publication_description status {
  font-style: italic;
}


/* highlights page */

.highlights_container{
  width: 100%;
  /*height: 230px;*/
  height: auto;
  margin-bottom: 80px;
  display: block;
}

.highlights_container team {
  font-size: 16px;
}

.highlights_description li{
  font-size: 16px;
  color: #474747;
  line-height: 25px;
  display: table-row;
  text-align: justify;
}

.highlights_description li:before{
  content:"\00BB \0020";
  display: table-cell;
  padding-right: 5px;
}

.highlights_type{
  margin: 10px 0 10px;
  font-size: 16px;
  color: #474747;
}

/* research page */
.research_title, .highlights_title{
  /*border-bottom: 1px solid #A06D20;*/
  /*border-bottom: 1px solid #47a8d8;*/
  border-bottom: 1px solid #3b5998;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #373737;  
/*  color: #089108;*/
}

.duration{
  float: right;
  font-size: 16px;
  /*color: #000000;*/
}

.research_container {
  width: 100%;
  height: 300px;
  margin-bottom: 70px;
  display: block;
}

.container_straight {
  height: 400px;
  margin-bottom: 70px;
}

.research_container img{
  display:block;
  /*max-height: 200px;*/
  max-width:94%;
  margin: 5px;
  border-radius: 10px;
  border: 5px solid #eee;
  /*box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);  */
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);
  /*margin-right: 15px;*/
}

.research_imgs{
  float: left;
  /*width: 35%;*/
  width: 40%;
  height: 240px;
  margin-top: 5px;
  overflow: hidden;
}

.imgs_straight {
  width:30%;
  /*height: 350px;*/
  height: auto;
}

.imgs_straight img{
  width: 90%;
  /*width:auto;
  height: 300px;*/
}

.slideshow{
  position: relative;
  display: block;
  overflow: hidden;
}
.slideshow figure{
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 1s opacity;
}

.slideshow figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}

.slideshow figcaption{
  position: absolute;
  /*bottom: 0;*/
  bottom: 10px;
  left: 10px;
  color: #ddd;
  background: rgba(0,0,0, .5);
  /*border-bottom-left-radius: 10px;*/
  /*border-bottom-right-radius: 10px;*/
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
  /*width: 100%;*/
  width:94%;
  height: 44px;
  font-size: 14px;
  text-align: center;
  line-height: 22px;
}

.slideshow figcaption.straight {
  width:90%;
}

.slideshow .next, .prev{
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 43%;
  z-index: 1;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
  transition: 0.2s opacity;
  font-size:22px;
}

.slideshow .next:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
  transition: 0.2s opacity;
}

.slideshow .next{
  right: 10px;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.slideshow .prev{
  left: 5px;
  margin-left: 5px;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slideshow p{
  margin: 10px 20px;
  color: #fff;
}

.research_content{
  float: right;
  /*width: 62%;*/
  margin-left:5px;
  width:56%;
}

.research_content_BioCAS {
  float: right;
  width:66%;
}

.temp{
  width: 100%;
}

.research_type{
  margin: 10px 0 10px;
  font-size: 16px;
  color: #474747;
}

.research_description li{
  font-size: 16px;
  color: #474747;
  line-height: 25px;
  display: table-row;
  text-align: justify;
}

.research_description li:before{
  content:"\00BB \0020";
  display: table-cell;
  padding-right: 5px;
}

/*Photos*/

.thumbs{
  width: 30%;
  height: 100vh;
  max-height: 100vh;
  overflow: visible;
  float: left;
  padding-top: 30px;
  padding-right: 0px;
}

.thumbs img{
  width:18%;
  float:left;
  margin: 6px;
  margin-top: 0px;
  border-radius:3px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s opacity;
}

.thumbs img:hover{
  opacity: 1;
  transition: 0.3s opacity;
}

.thumbs img.thumbnail_null {
  opacity:0;
  cursor:default;
}

.big_img{
  width: 70%;
  height: 100vh;
  float: left;
  padding-top: 30px;
}

.big_img figure{
  position: absolute;
  opacity: 0;
  transition: .5s opacity;
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
  color: #ddd;
  padding-left: 0;
}

.big_img figure.show{
  opacity: 1;
  transition: .5s opacity;
}

.big_img img{
  /*width: 80%;*/
  width: 600px;
  height: auto;
  /*box-shadow:0 0 8px rgba(0,0,0,0.3);*/
  border-radius: 13px;
  border: 5px solid #eee;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);
  
  display:block;
  /*border-radius:15px;*/
  margin: 0 auto;
}

.big_img p{
  position: absolute;
  /*width: 80%;*/
  width: 600px;
  height: 30px;
  line-height: 30px;
  color: #ddd;
  background: rgba(0,0,0,0.7);
  opacity: 0.7;
  display:block;
  /*margin-left: 10%;*/
  margin-bottom: 0;
  bottom: 5px;
  left:5px;
  font-size: 15px;
  /*font-family: "Roboto";*/
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}




/* Footer */

footer {
  width:170px;
  float:left;
  position:fixed;
  bottom:10px;
  padding-left: 50px;
}

/*@media print, screen and (max-width: 960px) {*/
@media print, screen and (max-width: 1200px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  footer {
    border-top: 1px solid #ccc;
    margin:0 84px 0 50px;
    padding:0;
  }
  
  header {
    padding-right:320px;
    height: 300px;
  }
  
  body {
    overflow-y: scroll;
  }

  section {
    padding:20px 84px 20px 50px;
    margin:0 0 20px;
  }
  
  header a small {
    display:inline;
  }
  
  header ul {
    position:absolute;
    right:130px;
    top:84px;
  }
  
  .research_container {
    width: 100%;
    height: 300px;
    display: block;
    margin-bottom: 70px;
  }

  .research_imgs{
    display: block;
    /*width: 50%;*/
    height: auto;
    max-height: 1000px;
    overflow: hidden;
  }

  .research_content{
    display: block;
    width:100%;
  }
  
  .research_container img{
    display:block;
    max-height: 1000px;
    width: auto;
  }

  .imgs_straight img{
    width: 200px;
    height: auto;
  }

  .slideshow figcaption.straight {
    width: 200px;
  }

  .slideshow .prev{
    left: 5px;
    /*left:0;*/
    margin-left: 5px;
    padding: 10px 10px 15px 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .slideshow .next{
    /*right: 20px;*/
    right: 5px;
    padding: 10px 5px 15px 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .imgs_straight {
    width:50%;
    display: block;
    /*height: 350px;*/
    height: auto;
  }
  .research_content_BioCAS {
    display: block;
    width:100%;
  }

  .thumbs{
    width: 100%;
    /*height: auto;*/
    /*max-height: 50vh;*/
    /*overflow: visible;*/
    overflow: hidden;
    height: auto;
    max-height: none;


    display: block;
    padding-top: 30px;
  }

  .thumbs img{
    width:22%;
    float:left;
    margin: 6px;
    margin-top: 0px;
    border-radius:3px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s opacity;
  }

  .big_img{
    width: 100%;
    height: 70vh;
    display:block;
    /*padding-top: 30px;*/
  }

  .big_img img{
    width: 70%;
    height: auto;
    float:left;
  }

  .big_img p{
    position: absolute;
    width: 70%;
    height: 30px;
    line-height: 30px;
    color: #ddd;
    background: rgba(0,0,0,0.7);
    opacity: 0.7;
    display:block;
    /*margin-left: 10%;*/
    margin-bottom: 0;
    bottom: 5px;
    left:5px;
    font-size: 15px;
    /*font-family: "Roboto";*/
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
  }


}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:10px 20px 0;
    margin-right: 0;
    height:400px;
  }

  section {
    padding:10px 0 10px 20px;
    margin:0 0 30px;
  }

  footer {    
    margin: 0 0 0 30px;
  }
  
  header ul, header p.view {
    position:static;
  }


  .form-wrapper {
    width: 100%;
    padding: 0;
  }

  .form-wrapper button {
    margin: 0;
    padding: 0;
    width: 30%;
  }
  
  .form-wrapper input {
    margin: 0;
    padding: 0;
    width: 70%;
  }

}

@media print, screen and (max-width: 480px) {
  
  header ul li.download {
    display:none;
  }

  footer {    
    margin: 0 0 0 20px;
  }
  
  footer a{
    display:block;
  }

  .form-wrapper {
    width: 100%;
    padding: 0;
  }

  .form-wrapper button {
    margin: 0;
    padding: 0;
    width: 30%;
  }
  
  .form-wrapper input {
    margin: 0;
    padding: 0;
    width: 70%;
  }


}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
